$base-font-size :16px;
$base-font1-size :30px;
$base-font2-size :14px;

.ProductCard {
    margin-right: 10px;
    margin-left: 10px; 
  }
  .productimg{
    aspect-ratio: 3/2 !important;
    object-fit: contain !important;
    border-radius: 20px 20px 0px 0px;
    vertical-align: middle !important;
    height: 179.33px !important;
}
.detailsection{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0.8rem 1rem !important;
.cardtitle{
    height: 25px;
    overflow: hidden;
}
.titletext{
    color: #292D32;
    font-size: $base-font-size;
    font-weight: 600;
    //white-space: nowrap; 
    //text-overflow: ellipsis; 
}
.actualprice{
    color: #292D32;
    font-size: ($base-font-size - 3) ;
    font-weight: normal;
}
.disprice{
    font-size: ($base-font1-size - 12);
    font-weight: 600;
    color: #292D32;
}
.discount{
    font-size: ($base-font2-size - 4);
    font-weight: 600;
    width: 42px;
    height: 42px;
    background-color: #0036FF; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
@media (max-width:1200px) {
    .discount{
        font-size: $base-font2-size * 0.8;
        width: 38px;
        height: 38px;
    }
    .productimg{
        height: auto !important;
    }
}
@media (max-width:992px) {
    .discount{
        font-size: $base-font2-size * 0.6;
        width: 40px;
        height: 40px;
    }
}
@media (max-width:1200px) {
    .actualprice{
        font-size: $base-font-size * 0.7;
    }
    .disprice{
        font-size: $base-font1-size * 0.7;
    }
}
@media (max-width:1024px) {
    .actualprice{
        font-size: $base-font-size * 0.6;
    }
    .disprice{
        font-size: $base-font1-size * 0.6;
    }
}
@media (max-width:767px) {
    .actualprice{
        font-size: $base-font-size * 0.55;
    }
    .disprice{
        font-size: $base-font1-size * 0.5;
    }
}
}

.discount1{
    font-size: $base-font2-size * 0.6;
    font-weight: 600;
    position: absolute;
    top: 10px; 
    width: 36px;
    height: 36px;
    background-color: #0036FF; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: white;
    margin-left: 0.3%;
}
