$base-font-size :32px;
.profilecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px !important;
}
.profileBreadcrumb{
    .breadcrumb{
        display: flex !important;
        justify-content: start !important;
    .breadcrumb-item{
        font-size: $base-font-size - 19px !important;
        font-weight: 500;
    }
    }
}

.profileheading{
    width: 80% !important;
    border-bottom: 2px solid #F2F2F8;
    text-align: center;
}
.yprofile{
    font-size: $base-font-size;
    font-weight: bold;
    padding-bottom: 22px !important;
}
@media (max-width:1024px) {
    .yprofile{
        font-size: $base-font-size * 0.8;
    }
}
@media (max-width:768px) {
    .yprofile{
        font-size: $base-font-size * 0.7;
        padding-bottom: 11px !important;
    }
}
@media (max-width:425px) {
    .yprofile{
        font-size: $base-font-size * 0.5;
    }
}

.profileform{
    margin-top: 25px !important;
    width: 40% !important;
}
@media (max-width:1024px) {
    .profileform{
        width: 60% !important;
    }
}
@media (max-width:768px) {
    .profileform{
        width: 80% !important;
    }
}
@media (max-width:560px) {
    .profileform{
        width: 90% !important;
    }
}
@media (max-width:425px) {
    .profileform{
        width: 100% !important;
    }
}