.productimages{
    aspect-ratio: 1 !important;
    object-fit: contain !important;
    vertical-align: middle !important;
    border: 1px solid #e9ecef;
}

.addressSummaryConatiner{
    width: 67% !important;
}

.orderSummaryContainer{
    width: 30% !important;
}