$base-font-size: 12px;

.menusection{
        
@media (max-width: 1400px) {
        span {
                font-size: $base-font-size * 0.8; 
        }
}
@media (max-width: 767px) and (min-width: 460px) {
        span {
                font-size: $base-font-size ; 
        }
}
@media (max-width: 383px) {
        span {
                font-size: $base-font-size * 0.7; 
        }
}
@media (max-width: 348px) {
        span {
                font-size: $base-font-size * 0.5; 
        }
}
}

.menusection {
        padding: 0 15%;
        margin: 0;
        border-radius: 0;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
}
.menulist{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        text-align: center;
        padding: 0 !important;
        img{
                width: 60% !important;
        }

        span{
                font-size: $base-font-size;
                font-weight: 600;
        }
}
        .Categories {
          top: 100%;
          left: 0;
          z-index: 1000;
          border-radius: 18px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          width: auto;
          position: absolute;
          background-color: white;
          text-align: start;
      
        .submenu {
                padding: 6px;
                height: fit-content;
                span {
                    display: block;
                    font-size: 0.875rem;
                    font-weight: 500;
                    color: #333;
                    line-height: 1.5;
                    white-space: nowrap;
                    padding: 0.5rem 1rem;
                }
        }

            .submenusubcat {
                li {
                  padding:  0.35rem 1rem;
                  :hover{
                        color: #0036FF;
                  }

                  span {
                    font-size: 0.8rem;
                    font-weight: 500;
                    color: #666;
                    line-height: 1.5;
                    white-space: nowrap;
                  }
              }
          }
        }
        



        