.slick-prev {
    background-color: blue;
    border-radius: 50%;
    z-index: 1;
  }
  .slick-next {
    background-color: blue;
    border-radius: 50%;
    z-index: 1;
  }
@media (max-width:1024px) {
    .slick-prev {
        left: 0.5% !important;
      }
      .slick-next {
        right: 0.5% !important;
      }
}
@media (max-width:517px){
    .Slider{
        p{
            height: 60px;
            font-size: small;
            border-top-left-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }
}