.image-slider-wrap{
    width: 80% !important;
    height: 346px !important;
}
.slick-slide-image{
    margin: 0 auto !important;
    height: 346px !important;
}
.thumbnail-slider-wrap{
    max-height: 346px !important;
    overflow-y: auto;
    padding: 0 !important;
    width: fit-content;
}
.slick-slider .slick-track{
    overflow-y: auto;
}
.slick-slider .slick-track, .slick-slider .slick-list{
    padding: 0 !important;
}
.thumbnail-slider-wrap  .slick-slide .slick-slide-thumbimage{
    align-items: center;
    width: 70px !important;
    height: 70px !important;
    border-radius: 20%;
    margin-bottom: 10px;
  } 




