$xxl:1400px;
$xl:1200px;
$lg:992px;
@mixin breakpoint($type, $size) {
    @if $type == 'min' {
      @media (min-width: $size) {
        @content;
      }
    }
    @else if $type == 'max' {
      @media (max-width: $size) {
        @content;
      }
    }
}
.productlistcontainer0{
    padding: 0px 30px;
}
.productlistcontainer{
    margin-top: 20px !important;
    margin-bottom: 50px !important;
    padding: 0px 60px;
    gap: 1.5%;

    .filtersec{
        max-width: 24% !important;
    }
    .productlistsec{
        width: 75% !important;
    }
}
.productlistwishlist{
    position: absolute;
    margin-top: 1%;
    margin-left: 9% ;
    height: 40px;
    @include breakpoint(max,$xxl){
        margin-top: 1%;
        margin-left: 18%;
    }
    @include breakpoint(max,$xl){
        margin-top: 1.4%;
        margin-left: 17%;
    }
    @include breakpoint(max,$lg){
        margin-top: 1.6%;
        margin-left: 23%;
    }
    
}
@media (max-width:1400px) {
    .productlistcontainer{
    padding: 0px 30px;
}
}
@media (max-width:991px) {
    .productlistsec{
        max-width: 100% !important;
    }
}
@media (max-width:768px) {
    .productlistcontainer{
    padding: 0px 15px;
}
}
@media (max-width:330px) {
    .productlistcontainer{
    padding: 0px 0px;
}
}



