.Dropdownmenu{
    right: 0;
}
li{
    cursor: pointer;
}
.singleproductcard{
    width: 25% !important;
    margin-bottom: 2%;
    padding-left: 0;
    padding-right: 0;
}
@media (max-width:1400px) {
    .singleproductcard{
        width: 33% !important;
    }
}