#productdetailcontainer{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

#review{
  border-right: 1px solid rgb(179, 174, 174);
}

@media (min-width:426px) {
  #productdetailcontainer{
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width:1025px) {
  #productdetailcontainer{
    padding-left: 50px;
    padding-right: 50px;
  }
}

.productimageanddetail{
  display: flex;
  gap:54px !important;
}
@media (max-width:998px) {
  .productimageanddetail{
    display: block !important;
  }
}



