.search{
    .search-icon{
      background-color: #FF7900;
    }
  }

  #responsive-navbar-nav{
    z-index: 1;
    width: 75%;
    transition: 0.2s;
  }

 .dropdown-content :hover {
   background-color: #ddd;
 }
 @media (min-width:768px) {
 .Signup:hover >
   .dropdown-content {
   display: block;
   cursor: pointer;
   position: absolute;
   z-index: 1;
   margin-top: 350px;
 }
 }
 

// #SignupDropdown {
//   position: absolute;
//   cursor:crosshair;
//   display: block;
//   margin-top: -10px;
// }
//  @media (min-width:768px) {
//    .Signup {
//      position: relative;

//      &:hover +
//        .SignupDropdown {
//          display: block;
//          margin-top: 310px;
//          cursor: pointer;
//        }
//    }
//  }


  

