
span{
        font-size: 0.650rem;
}

.dropdown-content :hover{
        background-color: white;
}
li :hover{
        color: red;
}

@media (min-width:768px) {
        .Home:hover >
          .dropdown-content {
          display: block;
          cursor: pointer;
          position: absolute;
          z-index: 1;
          margin-top: 105px;
        }
        .ToysCrafts:hover >
          .dropdown-content {
          display: block;
          cursor: pointer;
          position: absolute;
          z-index: 1;
        }
        .Hom > .cat:hover >
          .dropdown-content1 {
          display: flex;
          cursor: pointer;
          position: absolute;
          z-index: 1;
        }
        }

        