$base-font-size: 12px;

.menusection{
        span{
                font-size: $base-font-size;
        }
@media (max-width: 1400px) {
        span {
                font-size: $base-font-size * 0.8; 
        }
}
@media (max-width: 383px) {
        span {
                font-size: $base-font-size * 0.7; 
        }
}
@media (max-width: 348px) {
        span {
                font-size: $base-font-size * 0.5; 
        }
}

}

.dropdown-content :hover{
        background-color: white;
}
li :hover{
        color: red;
}

@media (min-width:768px) {
        .Home:hover >
          .dropdown-content {
          display: block;
          cursor: pointer;
          position: absolute;
          z-index: 1;
          margin-top: 105px;
        }
        .ToysCrafts:hover >
          .dropdown-content {
          display: block;
          cursor: pointer;
          position: absolute;
          z-index: 1;
        }
        .Hom > .cat:hover >
          .dropdown-content1 {
          display: flex;
          cursor: pointer;
          position: absolute;
          z-index: 1;
        }
        }

        